html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    display: flex;
    font-family: 'Roboto', sans-serif;
}

input {
    color: white;
    padding: 8px;
    border-radius: 10px;
    border: 1px solid #7b87aa00;
    background: #050c6b3a;
}

input:focus{
    outline: none;
    border: 1px solid #727c9400;
    padding: 12px;

}
input:hover{
    padding: 12px;
    transition: 0.4s;
}

label {
    display: flex;
    flex-direction: column;
}

button {
    padding: 12px;
    background: #000308d3;
    border: none;
    color: #678fee9d;
    width: 25%;
    border-radius: 8px;
    align-self: center;
    cursor: pointer;
    font-weight: 700;
}

#app{
    background-color: #20223a;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

}

.login-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 25%;
    height: 50%;
    padding: 30px;
    border: 1px solid #004cff;
    border-radius: 10px;
    background-color: #132330;
    box-shadow: 5px 7px rgba(120, 1, 255, 0.568)
}

.title {
    font-weight: 700;
    font-size: 24px;
    color: #404aa3;
    text-align: center;
}

.label {
    font-weight: 400;
    font-size: 14px;
    margin: 0px 0px 10px 12px;
    color: #404aa3;
}